.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: white;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    background-color: #f0f0f0;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
    justify-content: center;
    align-items: center;
}

img.displaySlide {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    animation-name: fade;
    animation-duration: 1.5s;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(240, 100%, 50%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #e38585;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
/*Nav bar
*/
.headers{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
li, a , button{
    font-family: 'Indie Flower' , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#0c0c0c;
    text-decoration: none;

}

.headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;

}
.logo{
    cursor: pointer;
    width: 10vh;
    height: 10vh;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3 ease 0s;
}
.nav-links li a:hover{
    color: #0088a9
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;

}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
.arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lp{
    font-family: "Arsenal SC" ;
}